subjectAltName = DNS:*.example.com, DNS:rabbitmq.example.com, DNS:redis.example.com, DNS:aejupyter.example.com, DNS:jupyter.example.com, DNS:jenkins.example.com, DNS:www.example.com, DNS:api.example.com, DNS:db.example.com, DNS:pgadmin.example.com, DNS:phpmyadmin.example.com, DNS:kibana.example.com, DNS:lb.example.com, DNS:docker.example.com, DNS:k8.example.com, DNS:splunk.example.com, DNS:kafka.example.com, DNS:s3.example.com, IP:127.0.0.1
extendedKeyUsage = serverAuth
