[ req ]
prompt              = no
default_bits        = 2048
distinguished_name  = req_distinguished_name # where to get DN for reqs

[ req_distinguished_name ]
C  = US
ST = CA
L  = City
O  = example
OU = example
CN = example
